/* All Common Css Start */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

a {
    text-decoration: none;
    display: inline-block;

}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;

}

ul,
ol {
    list-style-type: none;
}

.container {
    width: 1240px;
    margin: 0 auto;

}

/* All Common Css End */


/* HeaderPart  Start */

#HeaderPart {
    padding: 45px 0px;
}

.Headerlogo {
    display: flex;
}

.Headerflex {
    justify-content: space-between;
    display: flex;
    align-items: center;

}

.Menu {
    display: flex;
    justify-content: center;
}

.Menu ul li {
    display: inline;
    padding: 0 20px;
}

.Menu a {
    color: rgb(0, 0, 0);
}

.Iconflex {
    align-items: center;
    display: flex;
    gap: 50px;
}

/* HeaderPart  End */

/* Banner Start */
#Bannerbg {
    background-image: url(../Images/Banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 155px;
    padding-bottom: 115px;
}

.card {
    width: 50%;
    height: 450px;
    background: #FFF3E3;
    margin-left: auto;
    margin-right: 5%;
    padding: 65px 75px 35px 40px;
    border-radius: 10px;
}


.card h4 {
    letter-spacing: 3px;
    font-weight: 500;
}

.card h1 {
    margin: 20px 0px 25px;
    color: #B88E2F;
    line-height: 65px;
    font-size: 52px;
    margin-right: 150px;

}

.card p {
    padding-right: 140px;
    margin: 20px 0px 20px;
    color: #333333;

}

.card a {
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    padding: 25px 72px;
    background: #B88E2F;

}

/* Banner End */


/* Rooms Start */
#Roomspart {
    padding-top: 65px;
    padding-bottom: 65px;
}



/* Commontitle Start */

.Commontitle {
    text-align: center;
}

.Commontitle h3 {
    font-weight: 700;
    color: #333333;
    font-size: 40px;
}

.Commontitle p {
    font-weight: 400;
    color: #666666;
    margin-bottom: 50px;
}

/* Commontitle End */

.Roomsflex {
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-weight: 300;
}

.Roomsflex a {
    margin-bottom: 30px;
}

/* Rooms End */

/* Products Start */
#ProductPart {
    margin-bottom: 30px;
}

.Productitemspart {
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;


}

.Productitems {
    width: 22.5%;
    position: relative;
    margin-bottom: 25px;


}

.Productitems img {
    display: block;
    width: 100%;

}

.Productimage {
    position: relative;
}

.badges {
    width: 48px;
    height: 48px;
    background: #E97171;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    right: 20px;
    align-items: center;


}

.badges h4 {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;

}


.Producttext {
    background: #F4F5F7;
    padding: 20px;

}

.Producttext h3 {
    color: #3A3A3A;
    font-size: 24px;

}

.Producttext p {
    color: #898989;
    padding: 10px 0px;
    font-size: 16px;
}

.Producttext h4 {
    color: #3A3A3A;
    font-size: 16px;

}

.Producttext del {
    color: #B0B0B0;
    font-size: 12px;
    padding-left: 10px;

}

.ProductOverly {
    background: rgba(0, 0, 0, 0.655);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    transition: 0.8s;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}


.Overlyitems .button {
    background: #fff;
    width: 200px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

}

.Overlyitems .button h3 {
    text-align: center;
    color: #B88E2F;

}

.Overlyitems ul {
    display: flex;
    margin-top: 10px;

}

.Overlyitems ul i {
    font-size: 16px;
    color: #fff;
    padding: 0px 5px;

}

.Overlyitems ul a {
    font-size: 14px;
    color: #fff;
    padding: 0px 5px;

}



.Productitems:hover .ProductOverly {
    opacity: 1;

}

/* Products End */

/* ShowMore Start */

.ShowMore {
    height: 48px;
    width: 245px;
    border: 1px solid #B88E2F;
    color: #B88E2F;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

}

.ShowMore h3 {
    font-weight: 400;
    color: #B88E2F;


}

/* ShowMore End */


/* Footer Start ....................................................*/

.FooterPart {
    height: 300px;
    width: 1240px;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.part1 h1 {
    font-size: 24px;
    margin-bottom: 50px;
}

.part1 p {
    font-size: 18px;
    color: #9F9F9F;
    line-height: 25px;

}

#commontitle {
    font-size: 16px;
    color: #9F9F9F;
    padding-bottom: 30px;

}

.part0 ul li {
    padding-bottom: 40px;

}

.part0 a {
    text-decoration: none;
    color: black;
    font-weight: 400;
}

.part4 {
    display: flex;
    gap: 20px;
}

.Email {
    background: transparent;
    border: none;
    border-bottom: 2px solid #000;
    padding: 0px 15px 3px 0px;
}

.Subscribe {
    background: transparent;
    border: none;
    border-bottom: 2px solid #000;
    padding: 0px 0px 3px 0px;
    width: 70px;
}

.whole {
    display: flex;
    flex-direction: column;
}

.hr{
    margin-top: 70px;
    height: 2px;
    width: 100%;
    background: #D9D9D9;

}
.FooterP p{
    margin-top: 50px;
    margin-bottom: 60px;

}

/* Footer End ....................................................*/


/* Shop Start.................................................... */
#ShopPart {
    margin-bottom: 20px;
}

/* TitleBox Start */

.titlebox {
    display: flex;
    background: #F9F1E7;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
}

.titlebox h4 {
    padding-left: 150px;
    padding-right: 50px;
    font-size: 16px;
    font-weight: normal;

}

.titlebox h3 {
    padding-left: 0px;
    font-size: 16px;
    font-weight: normal;
}

.titlebox h5 {
    padding-left: 50px;
    font-size: 16px;
    font-weight: normal;
}

.titlebox span {
    padding-left: 20px;


}

/* TitleBox End */


/* Sofapart Start */


.Sofapart {
    margin-top: 30px;

}

.Sofa_frame {
    display: flex;
}

.Sofa_coloumn {
    display: flex;
    flex-direction: column;

}

.sofatext {
    margin-bottom: 30px;
}




.sofadescription {
    margin-bottom: 30px;

}

.sofadescription .descriptionimg {
    display: flex;

}

/* Sofapart End */


/* Description Start */

/* Description End */



/* Shop End..................................... */





/* Compare Start.............................. */

.banner {
    height: 316px;
    width: 100%;
    background: url(/Images/Banners.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.banner_logo {
    height: 85px;
    width: 85px;
    background-image: url(/Images/Meubel\ House_Logos-05.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: -10px;

}

.banner_item {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
}

.banner h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.banner_item p {
    font-size: 16px;
}

.More {
    display: flex;
    justify-content: space-between;
}

.Info {
    display: flex;

}



.Info table {
    width: 100%;
    background: transparent;
}


.Info td {
    border: none;
    padding: 40px 10px;
    text-align: left;
}

.Info th {
    font-size: 18px;
    font-weight: bold;
    border: none;
    text-align: left;
}

.Info table .atc {
    padding: 32px 107.5px;
    color: #fff;
    font-size: 20px;

    background: #B88E2F;
}


.Qualities {
    background: #FAF3EA;
    width: 100%;
    height: 270px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.Qitems {
    display: flex;
    align-items: center;
}

.Qitems i {
    font-size: 50px;
    padding-right: 5px;
}

/* Compare End................................. */


/* Cart End................................. */

.CartFrame {
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
}



.CartPartone .Partonetitle {
    background: #F9F1E7;
    height: 60px;
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.CartPartone .Partonetitle ul li {
    display: inline;
    padding: 0 30px;

}


.Partonedetail {
    display: flex;
    align-items: center;

    margin-top: 50px;
}

.CartPartone .Partonedetail ul li {
    display: inline;
    margin: 0px 30px;

}

.CartPartone .Partonedetail ul li i {
    color: #B88E2F;
    font-size: 20px;

}

#Asgard1 {
    border: 1px solid black;
    border-radius: 7px;
    padding: 2px 10px;
}

.CartParttwo {
    background: #F9F1E7;
    height: 350px;
    width: 390px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 70px;
 
}

.CartParttwo h1 {
    
    margin-bottom: 70px;
    margin-top: 20px;
}

.CartParttwocontents {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.CartParttwocontents .center1_2 {
    display: flex;
    align-items: center;
}

.CartParttwocontents .center3_4 {
    display: flex;
    align-items: center;
}


.CartParttwocontents h2 {
    font-size: 18px;
    font-weight: 400;
    padding-right: 20px;
}

.CartParttwocontents h3 {
    color: #9F9F9F;
    font-weight: 400;
    font-size: 18px;
    font-weight: 400;
}

.CartParttwocontents h4 {
    margin-top: 20px;
    border-radius: 10px;
    border: 1px solid black;
    padding: 15px 50px;
}

/* Cart End................................. */



/* Contact Start................................. */
.Getin{
    text-align: center;
    margin-top: 100px;
}
.Getin h1{
font-size: 36px;

}
.Getin p{
font-size: 16px;
color: #9F9F9F;

}

.Formadd{
    display: flex;
    justify-content: space-around;
}

.Contactform input{
    border: 1px solid black;
    border-radius:5px ;
    padding: 10px 50px 10px 5px;
    text-align: left;
    /* border:none; */
}
.Contactform h3{
text-align: left;

}

/* Contact End................................. */





/* Banner Start */
/* Banner End */
/* Banner Start */
/* Banner End */
/* Banner Start */
/* Banner End */
/* Banner Start */
/* Banner End */
/* Banner Start */
/* Banner End */
/* Banner Start */
/* Banner End */