/* All Common Css Start */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

a {
    text-decoration: none;
    display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;

}

ul,
ol {
    list-style-type: none;
}

container {
    width: 1240px;
    margin: 0 auto;
}

/* All Common Css End */


/* HeaderPart  Start */

#HeaderPart {
    padding: 45px 0px;
}

.Headerlogo {
    display: flex;
}

.Headerflex {
    justify-content: space-between;
    display: flex;
    margin: 0px 80px;
    align-items: center;

}

.Menu {
    display: flex;
    justify-content: center;
}

.Menu ul li {
    display: inline;
    padding: 0 20px;
}

.Iconflex {
    align-items: center;
    display: flex;
    gap: 50px;
}

/* HeaderPart  End */

/* Banner Start */
#Bannerbg {
    background-image: url(../Images/Banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 155px;
    padding-bottom: 115px;
}

.card {
    width: 50%;
    height: 450px;
    background: #FFF3E3;
    margin-left: auto;
    margin-right: 5%;
    padding: 65px 75px 35px 40px;
    border-radius: 10px;
}


.card h4 {
    letter-spacing: 3px;
    font-weight: 500;
}

.card h1 {
    margin: 20px 0px 25px;
    color: #B88E2F;
    line-height: 65px;
    font-size: 52px;
    margin-right: 150px;

}

.card p {
    padding-right: 140px;
    margin: 20px 0px 20px;
    color: #333333;

}

.card a {
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    padding: 25px 72px;
    background: #B88E2F;

}

/* Banner End */


/* Rooms Start */
#Roomspart {
    padding-top: 65px;
    padding-bottom: 65px;
}



/* Commontitle Start */

.Commontitle {
    text-align: center;
}

.Commontitle h3 {
    font-weight: 700;
    color: #333333;
    font-size: 40px;
}

.Commontitle p {
    font-weight: 400;
    color: #666666;
    margin-bottom: 50px;
}

/* Commontitle End */

.Roomsflex {
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-weight: 300;
}

.Roomsflex a {
    margin-bottom: 30px;
}

/* Rooms End */



/* Banner Start */
/* Banner End */
/* Banner Start */
/* Banner End */
/* Banner Start */
/* Banner End */
/* Banner Start */
/* Banner End */
/* Banner Start */
/* Banner End */